body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f4f8;
    color: #09162b;
}

header {
    background-color: #1a2a4e;
    color: #f2f4f8;
    text-align: center;
    padding: 1rem;
}

h1 {
    font-family: 'Roboto', sans-serif;
}

main {
    padding: 2rem;
}

h2, h3 {
    color: #1a2a4e;
    font-family: 'Roboto', sans-serif;
}

p {
    margin-bottom: 1rem;
    line-height: 1.5;
}

footer {
    background-color: #1a2a4e;
    color: #f2f4f8;
    text-align: center;
    padding: 1rem;
    bottom: 0;
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 1rem;
}
