@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); /* Fuente Roboto */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9; /* Color de fondo claro */
    color: #333; /* Texto oscuro para buen contraste */
}

header {
    background-color: #004d40; /* Verde oscuro */
    color: white;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 1rem;
}

.hero {
    position: relative;
    text-align: center;
    color: white;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cta-button {
    background-color: #004d40; /* Verde oscuro */
    color: white;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 5px;
}

.events, .weather, .forecast, .spotlights {
    margin: 2rem 0;
}

.events-box, .weather-box, .forecast-box {
    background-color: #ffffff; /* Blanco */
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 1rem;
}

.spotlights .spotlight-card {
    background-color: #ffffff; /* Blanco */
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 1rem;
}

.spotlights .spotlight-card img {
    max-width: 100%;
    border-radius: 10px;
}

footer {
    background-color: #004d40; /* Verde oscuro */
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.social-media img {
    width: 20px;
    margin: 0 5px;
}

address {
    margin: 10px 0;
}

@media (max-width: 768px) {
    #member-container {
        flex-direction: column;
        align-items: center;
    }
}
