@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); /* Fuente Roboto */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9; /* Color de fondo claro */
    color: #333; /* Texto oscuro para buen contraste */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #004d40; /* Verde oscuro */
    color: white;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    flex: 1;
    padding: 1rem;
}

.hero {
    position: relative;
    text-align: center;
    color: white;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem; /* Añadir padding para evitar superposición */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
}

.cta-button {
    display: block;
    background-color: #004d40; /* Verde oscuro */
    color: white;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1rem; /* Añadir margen superior para espacio */
}

.horizontal-box-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.events, .weather, .forecast, .spotlights {
    flex: 1 1 30%; /* Asegurar que todas las cajas tengan el mismo tamaño */
    margin: 1rem;
    text-align: center;
}

.events-box, .weather-box, .forecast-box, .spotlight-card {
    background-color: #ffffff; /* Blanco */
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.spotlight-card img {
    max-width: 100%;
    border-radius: 10px;
}


footer {
    background-color: #004d40; /* Verde oscuro */
    color: white;
    text-align: center;
    padding: 1rem;
    width: 100%;
    margin-top: auto;
}

.social-media img {
    width: 20px;
    margin: 0 5px;
}
