@import url('https://fonts.googleapis.com/css2?family=Tauri&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #dfdfdf;
  margin:0; 
  padding:0; 
  height:100%; 
}


.title { 
    background-color: rgb(0, 81, 148);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
 }



 nav { 
  background-color: rgb(84, 84, 84);
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


 nav a {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

h1 { 
  font-size: 30px;
    padding: 20px;
    color: rgb(255, 255, 255);
}


main{
  margin: 0 auto;
  max-width: 1040px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.img1 {
  width: 100px;
  height: auto;
  border: 1px solid rgb(0, 0, 0);
  padding: 2px;
  box-shadow: 0 0 30px gray;
  float: right;
  margin: 5px;
}

.img2 {
  width: 150px;
  height: 150px;
  border: 1px solid rgb(0, 0, 0);
  padding: 2px;
  box-shadow: 0 0 30px gray;
  float: left;
  margin: 5px;
}



footer {
  color: #ffffff;
  margin-top: 1em;
  border-top: 1px solid #000;
  text-align: center;
  background-color: rgb(0, 81, 148);
  justify-content: space-between;
  padding: 1rem;

}



.card {
  width: 500px; 
  height: auto;
  margin: 5px;
  border: 1px solid black;
  padding: 2rem;
  background-color: rgb(255, 255, 255);
  color: #000;
  border-radius: 10px;

}

.card-title {
  text-align: center;
  margin-bottom: 2rem;
  text-decoration: none;
}

