@media screen and (min-width: 550px){
    .grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 800px){
    .grid{
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
    }
}