* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header { 
  display: flex;
  align-items: center;
  background-color: #333;
  justify-content: space-between;
  padding: 1rem;
}

.nav-list{
  display: flex;
  list-style-type: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: #f2f2f2; 
  gap: 1rem;
}

.nav-list li a{
  text-decoration: none;
  color: #f2f2f2; 
}

.abrir-menu, .cerrar-menu{
  display: none;
}

@media screen and (max-width:750px) {
  .abrir-menu, .cerrar-menu{
      display: block;
      border: 0;
      font-size: 1.2rem;
      background-color: transparent;
      cursor: pointer;
  }
  .nav{
      opacity: 0;
      visibility: hidden;
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: #4d4d4d; 
      padding: 2rem;
      box-shadow: 0 0 100vmax rgba(0, 0, 0, .5);
      width: 200px;
      height: fit-content;
  }

  .nav.visible{
      opacity: 1;
      visibility: visible;
  }

  .nav-list{
      flex-direction: column;
      align-items: center;
  }

  .nav-list li a{
      color: #f2f2f2; 
  }

}

.nav-list li a:hover {
  color: #000; 
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.title {
  text-align: center;
  padding: 1rem;
}

.grid{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}

footer {
  color: #ccc;
  margin-top: 1em;
  border-top: 1px solid #000;
  text-align: center;
  background-color: #333; 
  justify-content: space-between;
  padding: 1rem;
}

section {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: transform 0.3s ease-in-out;
}

section:hover {
  transform: translateY(-5px);
}

section h3 {
  background-color: #f7f7f7; 
  color: #333; 
  padding: 10px;
  margin: 0;
  text-align: center;
}

section p {
  padding: 0 10px;
  margin: 10px 0;
}

section img {
  width: 100%;
  height: auto;
}

.label {
  font-weight: bold;
}
